<div class="header-top topbar-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-8 text-center text-md-left">
                <div class="topbar-left">
                    <span><i class="far fa-envelope-open"></i>box@rubena.se</span>
                    <span><i class="fas fa-phone"></i>0322-64 34 00</span>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-4 text-center text-md-right">
                <div class="topbar-right">
                    <span>Följ oss:</span>
                    <a href="{{site.facebook_url}}"><i class="fab fa-facebook-f"></i></a>
                    <a href="{{site.linkedin_url}}"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>