/* Variables */
$primary: #89A55D;

/* 1. Define theme variables for LIGHT mode */
:root,
[data-bs-theme="light"] {
    --bg-l1: #fefefe;                   /* Light background layer 1 */
    --bg-l2: #f8f9fa;                   /* Light background layer 2 */
    --bg-l3: #efefef;                   /* Light background layer 3 */
    --bg-l4: #e5e5e5;                   /* Light background layer 4 */
    --bg-l5: #e0e0e0;                   /* Light background layer 5 */
    --bg-l6: #dedede;                   /* Light background layer 6 */
    --bg-l7: #d5d5d5;                   /* Light background layer 7 */
    --bg-l8: #c8c8c8;                   /* Light background layer 8 */
    --bg-color: #f8f9fa;                /* Light background */
    --text-color: #212529;              /* Dark text */
    --text-color-muted: #6c757d;        /* Muted text color */
    --text-topbar: #ff5e14;             /* Topbar text color */
    --icon-color-topbar: #ff5e14;       /* Topbar icon color */
    --heading-color: #ff5e14;           /* Primary blue heading */
    --accent-color: #ff5e14;            /* Accent color */
    --accent-color-2: #6610f2;          /* Secondary accent color */
    --accent-color-3: #A50000;          /* Third accent color */
}

/* 2. Define theme variables for DARK mode */

/* 3. Apply the variables to the actual elements */

/* Global Styles */
body {
    background-color: var(--bg-l1);
    color: var(--text-color);
    min-height:200vh;
}

/* Navbar */
.nav-default {
    transition:500ms ease;
    background: var(--bg-l3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.nav-default.scrolled {
    background: transparent;
}

/* Logo styles */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

h1 {
    color: var(--heading-color);
}

/* Topbar Styles */
.topbar {
        background: var(--bg-l2);
        border-bottom: 1px solid var(--bg-l4);
        color: var(--text-color);
        font-size: 14px;
}
.topbar i {
        font-size: 14px;
        color: var(--text-color-muted);
        margin-right: 5px;
}
.topbar span {
        margin-right: 15px;
}

/* Hero section */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), 
                url('/assets/images/rubena-hero.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}