/* Variables */
$primary: #89A55D;

/* 1. Define theme variables for LIGHT mode */
:root,
[data-bs-theme="light"] {
    --bg-l1: #fefefe;           /* Light background layer 1 */
    --bg-l2: #f8f9fa;           /* Light background layer 2 */
    --bg-l3: #efefef;           /* Light background layer 3 */
    --bg-l4: #e5e5e5;           /* Light background layer 4 */
    --bg-l5: #e0e0e0;           /* Light background layer 5 */
    --bg-l6: #dedede;           /* Light background layer 6 */
    --bg-l7: #d5d5d5;           /* Light background layer 7 */
    --bg-l8: #c8c8c8;           /* Light background layer 8 */
    --bg-color: #f8f9fa;        /* Light background */
    --bg-topbar: #A50000;       /* Topbar background */
    --text-color: #212529;      /* Dark text */
    --text-topbar: #ff5e14;     /* Topbar text color */
    --heading-color: #ff5e14;   /* Primary blue heading */
    --accent-color: #ff5e14;    /* Accent color */
    --accent-color-2: #6610f2;  /* Secondary accent color */
}

/* 2. Define theme variables for DARK mode */

/* 3. Apply the variables to the actual elements */
body {
    background-color: var(--bg-l1);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    color: var(--heading-color);
}

/* Topbar Styles */
.topbar-bg{
        background: var(--bg-topbar);
        filter: brightness(85%)
}

.topbar-left span {
        margin-right: 7px;
        color: var(--text-color);
        font-size: 13px;
}
.topbar-left span i {
        padding-right: 10px;
        color: var(--text-topbar);
}
.topbar-right span {
        font-size: 13px;
        color: var(--text-color);
}
.topbar-right a {
        color: var(--text-color);
        font-size: 13px;
        padding-left: 10px;
}
.topbar-right a:hover i{
        color: var(--text-topbar);
}
.topbar-right i {
        display: inline-block;
        padding: 13px 0;
        transition: .3s;
}