---
---
// Import Bootstrap Icons CSS
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/bootstrap";

// 2. Include any default variable overrides here
// $primary: #89A55D;

// 3. Add additional custom code here
@import "base";